h2{
    font-size: 32px;
    font-weight: 700;
    color: #d97f00;
    margin-bottom: 32px;
}

.productList{
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    padding-right: 64px;
}
.product-content{
    margin-top: 16px;
    margin-left: 16px !important;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.product-item{

}

.Category li{
    font-weight: 600;

}

.Category li a{
    text-decoration: none;
}

.Category li a:hover{
    color: #f15e2c;
}

.search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 48px;
}

.search-input{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}
.search-form button {
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #d97f00;
    color: white;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
}