.container{
    margin-top: 32px !important;
}
.list-with-dots li {
    list-style-type: disc !important;
    margin-left: 20px;
    color: black;
}
.section-title{
    font-weight: 700;
    color: black;

}
.price{
    font-size: 32px;
    font-weight: 700;
    color: #f15e2c;
}

.img-detail {
    width: 640px;
    height: 640px;
    object-fit: cover;
}

.dotted-separator {
    border: none;
    border-top: 1px dotted #000;
    color: #000;
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    /* Tùy chọn: để tạo khoảng cách trên và dưới đường kẻ */
}

.form-select {
    width: 220px;
    height: 36px;
    border: none;
}
.color{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-right: 16px;
}
.color .color-label{
    width: 32px !important;
    height: 32px !important;;
    border-radius: 100% !important;;
    display: flex !important;;
    justify-content: center !important;;
    align-items: center !important;;
    color: white !important;;
}

.ChooseDetail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

h3 {
    font-size: 23px;
}

.btn-detail {
    width: 100%;
    height: 74px;
    background-color: #000;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 32px !important;
    font-weight: 700;
}

.product-infor{
    margin-top: 32px;

}
.product-infor h2{
    color: #f15e2c;
    
}