<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<!--    &lt;!&ndash; Khai báo Servlet &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>ListCategoryServlet</servlet-name>-->
<!--        <servlet-class>com.vn.fpt.g1.shop.servlet.ListCategoryServlet</servlet-class>-->
<!--    </servlet>-->

<!--    &lt;!&ndash; Ánh xạ Servlet &ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ListCategoryServlet</servlet-name>-->
<!--        <url-pattern>/listCategories</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>
